sql12/plugins/sqlval/doc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator-impl" xmlns:intf="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://sqlvalidator.mimer.com/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><wsdl:types><schema targetNamespace="http://sqlvalidator.mimer.com/v1.0" xmlns="http://www.w3.org/2001/XMLSchema"><import namespace="http://schemas.xmlsoap.org/soap/encoding/"/><complexType name="SessionData"><sequence><element name="target" nillable="true" type="xsd:string"/><element name="sessionId" type="xsd:int"/><element name="sessionKey" type="xsd:int"/></sequence></complexType><element name="SessionData" nillable="true" type="tns1:SessionData"/><complexType name="ValidatorResult"><sequence><element name="data" nillable="true" type="xsd:string"/><element name="standard" type="xsd:int"/></sequence></complexType><element name="ValidatorResult" nillable="true" type="tns1:ValidatorResult"/></schema></wsdl:types>
  <wsdl:message name="validateSQLRequest">
    <wsdl:part name="a_sessionId" type="xsd:int"/>
    <wsdl:part name="a_sessionKey" type="xsd:int"/>
    <wsdl:part name="a_SQL" type="xsd:string"/>
    <wsdl:part name="a_resultType" type="xsd:string"/>
  </wsdl:message>
  <wsdl:message name="openSessionRequest">
    <wsdl:part name="a_userName" type="xsd:string"/>
    <wsdl:part name="a_password" type="xsd:string"/>
    <wsdl:part name="a_callingProgram" type="xsd:string"/>
    <wsdl:part name="a_callingProgramVersion" type="xsd:string"/>
    <wsdl:part name="a_targetDbms" type="xsd:string"/>
    <wsdl:part name="a_targetDbmsVersion" type="xsd:string"/>
    <wsdl:part name="a_connectionTechnology" type="xsd:string"/>
    <wsdl:part name="a_connectionTechnologyVersion" type="xsd:string"/>
    <wsdl:part name="a_interactive" type="xsd:int"/>
  </wsdl:message>
  <wsdl:message name="openSessionResponse">
    <wsdl:part name="return" type="tns1:SessionData"/>
  </wsdl:message>
  <wsdl:message name="validateSQLResponse">
    <wsdl:part name="return" type="tns1:ValidatorResult"/>
  </wsdl:message>
  <wsdl:portType name="ValidateSQL99">
    <wsdl:operation name="openSession" parameterOrder="a_userName a_password a_callingProgram a_callingProgramVersion a_targetDbms a_targetDbmsVersion a_connectionTechnology a_connectionTechnologyVersion a_interactive">
      <wsdl:input message="intf:openSessionRequest" name="openSessionRequest"/>
      <wsdl:output message="intf:openSessionResponse" name="openSessionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="validateSQL" parameterOrder="a_sessionId a_sessionKey a_SQL a_resultType">
      <wsdl:input message="intf:validateSQLRequest" name="validateSQLRequest"/>
      <wsdl:output message="intf:validateSQLResponse" name="validateSQLResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SQL99ValidatorSoapBinding" type="intf:ValidateSQL99">
    <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="openSession">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="openSessionRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="openSessionResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validateSQL">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="validateSQLRequest">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator" use="encoded"/>
      </wsdl:input>
      <wsdl:output name="validateSQLResponse">
        <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://sqlvalidator.mimer.com/v1/services/SQL99Validator/v1/services/SQL99Validator" use="encoded"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidateSQL99Service">
    <wsdl:port binding="intf:SQL99ValidatorSoapBinding" name="SQL99Validator">
      <wsdlsoap:address location="http://sqlvalidator.mimer.com/v1/services/SQL99Validator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>