archive/squirrel/etc/dtd/project.dtd

<?xml version="1.0" encoding="iso-8859-1"?>
<!ENTITY % boolean "(true|false|on|off|yes|no)">

<!ELEMENT project (target | property | taskdef | fileset | patternset | path | mapper)*>
<!ATTLIST project
          name    CDATA #REQUIRED
          default CDATA #REQUIRED
          basedir CDATA #IMPLIED>

<!ELEMENT target (tar | fail | uptodate | java | execon | echo | native2ascii | jjtree | compileTask | chmod | javadoc2 | deltree | cvs | jlink | tstamp | unjar | patch | sound | script | cccheckout | mail | gzip | p4label | wlrun | copy | filter | xejbjar | jar | unzip | rename | propertyfile | copyfile | p4submit | gunzip | antcall | taskdef | mkdir | sql | replace | ant | style | p4sync | fixcrlf | vssget | genkey | p4edit | zip | antstructure | javah | javac | test | cab | mparse | ccuncheckout | ejbjar | available | p4have | wljspc | move | csc | p4change | signjar | javacc | cccheckin | property | unwar | touch | ilasm | resolveproperties | get | propertyfilter | javadoc | antlr | untar | require | delete | transform | ejbc | copydir | war | ccupdate | depend | renameext | exec | junit | wlstop | rmic)*>

<!ATTLIST target
          id          ID    #IMPLIED
          name        CDATA #REQUIRED
          if          CDATA #IMPLIED
          unless      CDATA #IMPLIED
          depends     CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT fileset (include | patternset | exclude)*>
<!ATTLIST fileset
          id ID #IMPLIED
          dir CDATA #IMPLIED
          includes CDATA #IMPLIED
          refid IDREF #IMPLIED
          excludesfile CDATA #IMPLIED
          description CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          includesfile CDATA #IMPLIED
          excludes CDATA #IMPLIED>

<!ELEMENT include EMPTY>
<!ATTLIST include
          id ID #IMPLIED
          name CDATA #IMPLIED
          unless CDATA #IMPLIED
          if CDATA #IMPLIED>

<!ELEMENT patternset (include | exclude)*>
<!ATTLIST patternset
          id ID #IMPLIED
          includes CDATA #IMPLIED
          refid IDREF #IMPLIED
          excludesfile CDATA #IMPLIED
          description CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludes CDATA #IMPLIED>

<!ELEMENT exclude EMPTY>
<!ATTLIST exclude
          id ID #IMPLIED
          name CDATA #IMPLIED
          unless CDATA #IMPLIED
          if CDATA #IMPLIED>

<!ELEMENT path (fileset | pathelement | path)*>
<!ATTLIST path
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT pathelement EMPTY>
<!ATTLIST pathelement
          id ID #IMPLIED
          location CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT mapper (classpath)*>
<!ATTLIST mapper
          id ID #IMPLIED
          classpath CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          type (identity | flatten | glob | merge | regexp) #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          classname CDATA #IMPLIED
          from CDATA #IMPLIED
          to CDATA #IMPLIED>

<!ELEMENT classpath (fileset | pathelement | path)*>
<!ATTLIST classpath
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT tar (include | patternset | exclude)*>
<!ATTLIST tar
          id ID #IMPLIED
          tarfile CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          basedir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT fail EMPTY>
<!ATTLIST fail
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          message CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT uptodate (srcfiles | include | patternset | exclude | mapper)*>
<!ATTLIST uptodate
          id ID #IMPLIED
          targetfile CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          property CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT srcfiles (include | patternset | exclude)*>
<!ATTLIST srcfiles
          id ID #IMPLIED
          dir CDATA #IMPLIED
          includes CDATA #IMPLIED
          refid IDREF #IMPLIED
          excludesfile CDATA #IMPLIED
          description CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          includesfile CDATA #IMPLIED
          excludes CDATA #IMPLIED>

<!ELEMENT java (arg | jvmarg | classpath | sysproperty)*>
<!ATTLIST java
          id ID #IMPLIED
          output CDATA #IMPLIED
          fork %boolean; #IMPLIED
          classpath CDATA #IMPLIED
          jvm CDATA #IMPLIED
          dir CDATA #IMPLIED
          classname CDATA #IMPLIED
          maxmemory CDATA #IMPLIED
          args CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          taskname CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          jvmargs CDATA #IMPLIED>

<!ELEMENT arg EMPTY>
<!ATTLIST arg
          id ID #IMPLIED
          line CDATA #IMPLIED
          file CDATA #IMPLIED
          value CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT jvmarg EMPTY>
<!ATTLIST jvmarg
          id ID #IMPLIED
          line CDATA #IMPLIED
          file CDATA #IMPLIED
          value CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT sysproperty EMPTY>
<!ATTLIST sysproperty
          id ID #IMPLIED
          key CDATA #IMPLIED
          file CDATA #IMPLIED
          value CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT execon (arg | fileset | env | srcfile)*>
<!ATTLIST execon
          id ID #IMPLIED
          output CDATA #IMPLIED
          dir CDATA #IMPLIED
          command CDATA #IMPLIED
          os CDATA #IMPLIED
          parallel %boolean; #IMPLIED
          type (file | dir | both) #IMPLIED
          timeout CDATA #IMPLIED
          taskname CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          newenvironment %boolean; #IMPLIED
          executable CDATA #IMPLIED>

<!ELEMENT env EMPTY>
<!ATTLIST env
          id ID #IMPLIED
          key CDATA #IMPLIED
          file CDATA #IMPLIED
          value CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT srcfile EMPTY>
<!ATTLIST srcfile
          id ID #IMPLIED>

<!ELEMENT echo (#PCDATA)>
<!ATTLIST echo
          id ID #IMPLIED
          append %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          file CDATA #IMPLIED
          message CDATA #IMPLIED
          description CDATA #IMPLIED
          level (error | warning | info | verbose | debug) #IMPLIED>

<!ELEMENT native2ascii (include | patternset | exclude | mapper)*>
<!ATTLIST native2ascii
          id ID #IMPLIED
          src CDATA #IMPLIED
          ext CDATA #IMPLIED
          encoding CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          reverse %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT jjtree EMPTY>
<!ATTLIST jjtree
          id ID #IMPLIED
          nodedefaultvoid %boolean; #IMPLIED
          buildnodefiles %boolean; #IMPLIED
          outputdirectory CDATA #IMPLIED
          static %boolean; #IMPLIED
          javacchome CDATA #IMPLIED
          nodeprefix CDATA #IMPLIED
          nodefactory %boolean; #IMPLIED
          visitor %boolean; #IMPLIED
          multi %boolean; #IMPLIED
          target CDATA #IMPLIED
          nodeusesparser %boolean; #IMPLIED
          visitorexception CDATA #IMPLIED
          nodescopehook %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          nodepackage CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT compileTask (include | classpath | patternset | exclude | extdirs | taskdef | src | bootclasspath)*>
<!ATTLIST compileTask
          id ID #IMPLIED
          deprecation %boolean; #IMPLIED
          excludes CDATA #IMPLIED
          proceed %boolean; #IMPLIED
          extdirs CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          encoding CDATA #IMPLIED
          destdir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          bootclasspathref IDREF #IMPLIED
          depend %boolean; #IMPLIED
          optimize %boolean; #IMPLIED
          includejavaruntime %boolean; #IMPLIED
          includeantruntime %boolean; #IMPLIED
          classpath CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          debug %boolean; #IMPLIED
          bootclasspath CDATA #IMPLIED
          includes CDATA #IMPLIED
          description CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          srcdir CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          target CDATA #IMPLIED>

<!ELEMENT extdirs (fileset | pathelement | path)*>
<!ATTLIST extdirs
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT taskdef (classpath)*>
<!ATTLIST taskdef
          id ID #IMPLIED
          classpath CDATA #IMPLIED
          name CDATA #IMPLIED
          taskname CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          description CDATA #IMPLIED
          classname CDATA #IMPLIED>

<!ELEMENT src (fileset | pathelement | path)*>
<!ATTLIST src
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT bootclasspath (fileset | pathelement | path)*>
<!ATTLIST bootclasspath
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT chmod (include | arg | fileset | patternset | exclude | env | srcfile)*>
<!ATTLIST chmod
          id ID #IMPLIED
          output CDATA #IMPLIED
          file CDATA #IMPLIED
          dir CDATA #IMPLIED
          perm CDATA #IMPLIED
          command CDATA #IMPLIED
          os CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          parallel %boolean; #IMPLIED
          type (file | dir | both) #IMPLIED
          timeout CDATA #IMPLIED
          taskname CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          executable CDATA #IMPLIED
          excludes CDATA #IMPLIED
          newenvironment %boolean; #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT javadoc2 (doclet | classpath | link | group | sourcepath | bootclasspath)*>
<!ATTLIST javadoc2
          id ID #IMPLIED
          bottom CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          bootclasspathref IDREF #IMPLIED
          header CDATA #IMPLIED
          link CDATA #IMPLIED
          noindex %boolean; #IMPLIED
          doclet CDATA #IMPLIED
          public %boolean; #IMPLIED
          author %boolean; #IMPLIED
          footer CDATA #IMPLIED
          docletpath CDATA #IMPLIED
          package %boolean; #IMPLIED
          sourcepathref IDREF #IMPLIED
          description CDATA #IMPLIED
          protected %boolean; #IMPLIED
          nonavbar %boolean; #IMPLIED
          maxmemory CDATA #IMPLIED
          group CDATA #IMPLIED
          linkoffline CDATA #IMPLIED
          additionalparam CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          locale CDATA #IMPLIED
          destdir CDATA #IMPLIED
          classpath CDATA #IMPLIED
          bootclasspath CDATA #IMPLIED
          private %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          charset CDATA #IMPLIED
          nodeprecatedlist %boolean; #IMPLIED
          classpathref IDREF #IMPLIED
          stylesheetfile CDATA #IMPLIED
          docencoding CDATA #IMPLIED
          docletpathref IDREF #IMPLIED
          packagenames CDATA #IMPLIED
          windowtitle CDATA #IMPLIED
          notree %boolean; #IMPLIED
          splitindex %boolean; #IMPLIED
          packagelist CDATA #IMPLIED
          encoding CDATA #IMPLIED
          doctitle CDATA #IMPLIED
          serialwarn %boolean; #IMPLIED
          old %boolean; #IMPLIED
          use %boolean; #IMPLIED
          sourcepath CDATA #IMPLIED
          helpfile CDATA #IMPLIED
          version %boolean; #IMPLIED
          sourcefiles CDATA #IMPLIED
          extdirs CDATA #IMPLIED
          nohelp %boolean; #IMPLIED
          nodeprecated %boolean; #IMPLIED
          overview CDATA #IMPLIED>

<!ELEMENT doclet (path | param)*>
<!ATTLIST doclet
          id ID #IMPLIED
          name CDATA #IMPLIED
          pathref IDREF #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT param EMPTY>
<!ATTLIST param
          id ID #IMPLIED
          name CDATA #IMPLIED
          value CDATA #IMPLIED>

<!ELEMENT link EMPTY>
<!ATTLIST link
          id ID #IMPLIED
          href CDATA #IMPLIED
          offline %boolean; #IMPLIED
          packagelistloc CDATA #IMPLIED>

<!ELEMENT group EMPTY>
<!ATTLIST group
          id ID #IMPLIED
          packages CDATA #IMPLIED
          title CDATA #IMPLIED>

<!ELEMENT sourcepath (fileset | pathelement | path)*>
<!ATTLIST sourcepath
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT deltree EMPTY>
<!ATTLIST deltree
          id ID #IMPLIED
          dir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT cvs EMPTY>
<!ATTLIST cvs
          id ID #IMPLIED
          output CDATA #IMPLIED
          date CDATA #IMPLIED
          quiet %boolean; #IMPLIED
          command CDATA #IMPLIED
          noexec %boolean; #IMPLIED
          cvsroot CDATA #IMPLIED
          error CDATA #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          package CDATA #IMPLIED
          description CDATA #IMPLIED
          tag CDATA #IMPLIED>

<!ELEMENT jlink (addfiles | include | patternset | exclude | mergefiles)*>
<!ATTLIST jlink
          id ID #IMPLIED
          compress %boolean; #IMPLIED
          outfile CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          addfiles CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          mergefiles CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT addfiles (fileset | pathelement | path)*>
<!ATTLIST addfiles
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT mergefiles (fileset | pathelement | path)*>
<!ATTLIST mergefiles
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT tstamp (format)*>
<!ATTLIST tstamp
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT format EMPTY>
<!ATTLIST format
          id ID #IMPLIED
          unit CDATA #IMPLIED
          pattern CDATA #IMPLIED
          property CDATA #IMPLIED
          offset CDATA #IMPLIED>

<!ELEMENT unjar (include | patternset | exclude)*>
<!ATTLIST unjar
          id ID #IMPLIED
          src CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT patch EMPTY>
<!ATTLIST patch
          id ID #IMPLIED
          strip CDATA #IMPLIED
          quiet %boolean; #IMPLIED
          originalfile CDATA #IMPLIED
          patchfile CDATA #IMPLIED
          reverse %boolean; #IMPLIED
          backups %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          ignorewhitespace %boolean; #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT sound (fail | success)*>
<!ATTLIST sound
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT success EMPTY>
<!ATTLIST success
          id ID #IMPLIED
          loops CDATA #IMPLIED
          source CDATA #IMPLIED
          duration CDATA #IMPLIED>

<!ELEMENT script (#PCDATA)>
<!ATTLIST script
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          src CDATA #IMPLIED
          language CDATA #IMPLIED>

<!ELEMENT cccheckout EMPTY>
<!ATTLIST cccheckout
          id ID #IMPLIED
          reserved %boolean; #IMPLIED
          viewpath CDATA #IMPLIED
          out CDATA #IMPLIED
          nodata %boolean; #IMPLIED
          comment CDATA #IMPLIED
          version %boolean; #IMPLIED
          nowarn %boolean; #IMPLIED
          cleartooldir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          branch CDATA #IMPLIED
          commentfile CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT mail EMPTY>
<!ATTLIST mail
          id ID #IMPLIED
          mailhost CDATA #IMPLIED
          taskname CDATA #IMPLIED
          subject CDATA #IMPLIED
          files CDATA #IMPLIED
          message CDATA #IMPLIED
          description CDATA #IMPLIED
          tolist CDATA #IMPLIED
          from CDATA #IMPLIED>

<!ELEMENT gzip EMPTY>
<!ATTLIST gzip
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          zipfile CDATA #IMPLIED
          description CDATA #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT p4label EMPTY>
<!ATTLIST p4label
          id ID #IMPLIED
          name CDATA #IMPLIED
          port CDATA #IMPLIED
          client CDATA #IMPLIED
          user CDATA #IMPLIED
          cmdopts CDATA #IMPLIED
          desc CDATA #IMPLIED
          view CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT wlrun EMPTY>
<!ATTLIST wlrun
          id ID #IMPLIED
          name CDATA #IMPLIED
          classpath CDATA #IMPLIED
          weblogicmainclass CDATA #IMPLIED
          wlclasspath CDATA #IMPLIED
          policy CDATA #IMPLIED
          properties CDATA #IMPLIED
          args CDATA #IMPLIED
          home CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          jvmargs CDATA #IMPLIED>

<!ELEMENT copy (fileset | mapper)*>
<!ATTLIST copy
          id ID #IMPLIED
          flatten %boolean; #IMPLIED
          tofile CDATA #IMPLIED
          todir CDATA #IMPLIED
          file CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          includeemptydirs %boolean; #IMPLIED
          overwrite %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          preservelastmodified CDATA #IMPLIED
          filtering %boolean; #IMPLIED>

<!ELEMENT filter EMPTY>
<!ATTLIST filter
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          token CDATA #IMPLIED
          description CDATA #IMPLIED
          value CDATA #IMPLIED
          filtersfile CDATA #IMPLIED>

<!ELEMENT xejbjar (include | classpath | patternset | exclude | weblogic | simple | weblogictoplink)*>
<!ATTLIST xejbjar
          id ID #IMPLIED
          destdir CDATA #IMPLIED
          classpath CDATA #IMPLIED
          basejarname CDATA #IMPLIED
          basenameterminator CDATA #IMPLIED
          genericjarsuffix CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          srcdir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          flatdestdir %boolean; #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          descriptordir CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT weblogic (classpath)*>
<!ATTLIST weblogic
          id ID #IMPLIED
          compiler CDATA #IMPLIED
          keepgeneric %boolean; #IMPLIED
          destdir CDATA #IMPLIED
          weblogicdtd CDATA #IMPLIED
          classpath CDATA #IMPLIED
          ejbdtd CDATA #IMPLIED
          oldcmp %boolean; #IMPLIED
          genericjarsuffix CDATA #IMPLIED
          wldtd CDATA #IMPLIED
          args CDATA #IMPLIED
          rebuild %boolean; #IMPLIED
          keepgenerated CDATA #IMPLIED
          suffix CDATA #IMPLIED>

<!ELEMENT simple EMPTY>
<!ATTLIST simple
          id ID #IMPLIED>

<!ELEMENT weblogictoplink (classpath)*>
<!ATTLIST weblogictoplink
          id ID #IMPLIED
          compiler CDATA #IMPLIED
          keepgeneric %boolean; #IMPLIED
          destdir CDATA #IMPLIED
          weblogicdtd CDATA #IMPLIED
          classpath CDATA #IMPLIED
          ejbdtd CDATA #IMPLIED
          oldcmp %boolean; #IMPLIED
          genericjarsuffix CDATA #IMPLIED
          toplinkdescriptor CDATA #IMPLIED
          wldtd CDATA #IMPLIED
          args CDATA #IMPLIED
          rebuild %boolean; #IMPLIED
          toplinkdtd CDATA #IMPLIED
          keepgenerated CDATA #IMPLIED
          suffix CDATA #IMPLIED>

<!ELEMENT jar (include | fileset | patternset | exclude | prefixedfileset)*>
<!ATTLIST jar
          id ID #IMPLIED
          manifest CDATA #IMPLIED
          compress %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          jarfile CDATA #IMPLIED
          basedir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          zipfile CDATA #IMPLIED
          whenempty CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT prefixedfileset (include | patternset | exclude)*>
<!ATTLIST prefixedfileset
          id ID #IMPLIED
          src CDATA #IMPLIED
          refid IDREF #IMPLIED
          dir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          prefix CDATA #IMPLIED
          fullpath CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT unzip (include | patternset | exclude)*>
<!ATTLIST unzip
          id ID #IMPLIED
          src CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT rename EMPTY>
<!ATTLIST rename
          id ID #IMPLIED
          dest CDATA #IMPLIED
          taskname CDATA #IMPLIED
          replace CDATA #IMPLIED
          description CDATA #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT propertyfile (entry)*>
<!ATTLIST propertyfile
          id ID #IMPLIED
          operation CDATA #IMPLIED
          taskname CDATA #IMPLIED
          key CDATA #IMPLIED
          file CDATA #IMPLIED
          type CDATA #IMPLIED
          description CDATA #IMPLIED
          value CDATA #IMPLIED
          comment CDATA #IMPLIED>

<!ELEMENT entry EMPTY>
<!ATTLIST entry
          id ID #IMPLIED
          operation CDATA #IMPLIED
          key CDATA #IMPLIED
          type CDATA #IMPLIED
          value CDATA #IMPLIED>

<!ELEMENT copyfile EMPTY>
<!ATTLIST copyfile
          id ID #IMPLIED
          forceoverwrite %boolean; #IMPLIED
          dest CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          filtering CDATA #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT p4submit EMPTY>
<!ATTLIST p4submit
          id ID #IMPLIED
          view CDATA #IMPLIED
          client CDATA #IMPLIED
          user CDATA #IMPLIED
          port CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          cmdopts CDATA #IMPLIED
          change CDATA #IMPLIED>

<!ELEMENT gunzip EMPTY>
<!ATTLIST gunzip
          id ID #IMPLIED
          dest CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT antcall (param)*>
<!ATTLIST antcall
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          target CDATA #IMPLIED>

<!ELEMENT mkdir EMPTY>
<!ATTLIST mkdir
          id ID #IMPLIED
          dir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT sql (#PCDATA | classpath | transaction)*>
<!ATTLIST sql
          id ID #IMPLIED
          print %boolean; #IMPLIED
          src CDATA #IMPLIED
          url CDATA #IMPLIED
          classpath CDATA #IMPLIED
          output CDATA #IMPLIED
          rdbms CDATA #IMPLIED
          showheaders %boolean; #IMPLIED
          autocommit %boolean; #IMPLIED
          userid CDATA #IMPLIED
          version CDATA #IMPLIED
          onerror (continue | stop | abort) #IMPLIED
          classpathref IDREF #IMPLIED
          taskname CDATA #IMPLIED
          password CDATA #IMPLIED
          description CDATA #IMPLIED
          driver CDATA #IMPLIED>

<!ELEMENT transaction (#PCDATA)>
<!ATTLIST transaction
          id ID #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT replace (include | patternset | exclude | replacefilter | replacetoken | replacevalue)*>
<!ATTLIST replace
          id ID #IMPLIED
          file CDATA #IMPLIED
          dir CDATA #IMPLIED
          token CDATA #IMPLIED
          propertyfile CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          value CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT replacefilter EMPTY>
<!ATTLIST replacefilter
          id ID #IMPLIED
          token CDATA #IMPLIED
          value CDATA #IMPLIED
          property CDATA #IMPLIED>

<!ELEMENT replacetoken (#PCDATA)>
<!ATTLIST replacetoken
          id ID #IMPLIED>

<!ELEMENT replacevalue (#PCDATA)>
<!ATTLIST replacevalue
          id ID #IMPLIED>

<!ELEMENT ant (property)*>
<!ATTLIST ant
          id ID #IMPLIED
          output CDATA #IMPLIED
          dir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          antfile CDATA #IMPLIED
          target CDATA #IMPLIED>

<!ELEMENT property (classpath)*>
<!ATTLIST property
          id ID #IMPLIED
          refid IDREF #IMPLIED
          name CDATA #IMPLIED
          classpath CDATA #IMPLIED
          file CDATA #IMPLIED
          userproperty %boolean; #IMPLIED
          resource CDATA #IMPLIED
          environment CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          taskname CDATA #IMPLIED
          value CDATA #IMPLIED
          location CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT style (include | patternset | exclude | param)*>
<!ATTLIST style
          id ID #IMPLIED
          style CDATA #IMPLIED
          destdir CDATA #IMPLIED
          processor CDATA #IMPLIED
          out CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          in CDATA #IMPLIED
          basedir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          extension CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT p4sync EMPTY>
<!ATTLIST p4sync
          id ID #IMPLIED
          force CDATA #IMPLIED
          port CDATA #IMPLIED
          client CDATA #IMPLIED
          user CDATA #IMPLIED
          cmdopts CDATA #IMPLIED
          view CDATA #IMPLIED
          taskname CDATA #IMPLIED
          label CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT fixcrlf (include | patternset | exclude)*>
<!ATTLIST fixcrlf
          id ID #IMPLIED
          destdir CDATA #IMPLIED
          tablength CDATA #IMPLIED
          tab (add | asis | remove) #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          cr (add | asis | remove) #IMPLIED
          taskname CDATA #IMPLIED
          srcdir CDATA #IMPLIED
          description CDATA #IMPLIED
          eof (add | asis | remove) #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT vssget EMPTY>
<!ATTLIST vssget
          id ID #IMPLIED
          recursive %boolean; #IMPLIED
          ssdir CDATA #IMPLIED
          date CDATA #IMPLIED
          autoresponse CDATA #IMPLIED
          vsspath CDATA #IMPLIED
          version CDATA #IMPLIED
          writable %boolean; #IMPLIED
          login CDATA #IMPLIED
          taskname CDATA #IMPLIED
          label CDATA #IMPLIED
          localpath CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT genkey (dname)*>
<!ATTLIST genkey
          id ID #IMPLIED
          storepass CDATA #IMPLIED
          sigalg CDATA #IMPLIED
          keypass CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          dname CDATA #IMPLIED
          keysize CDATA #IMPLIED
          alias CDATA #IMPLIED
          keyalg CDATA #IMPLIED
          validity CDATA #IMPLIED
          keystore CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          storetype CDATA #IMPLIED>

<!ELEMENT dname (param)*>
<!ATTLIST dname
          id ID #IMPLIED>

<!ELEMENT p4edit EMPTY>
<!ATTLIST p4edit
          id ID #IMPLIED
          view CDATA #IMPLIED
          client CDATA #IMPLIED
          user CDATA #IMPLIED
          port CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          cmdopts CDATA #IMPLIED
          change CDATA #IMPLIED>

<!ELEMENT zip (include | fileset | patternset | exclude | prefixedfileset)*>
<!ATTLIST zip
          id ID #IMPLIED
          compress %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          basedir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          zipfile CDATA #IMPLIED
          whenempty CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT antstructure EMPTY>
<!ATTLIST antstructure
          id ID #IMPLIED
          output CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT javah (classpath | class | bootclasspath)*>
<!ATTLIST javah
          id ID #IMPLIED
          stubs %boolean; #IMPLIED
          force %boolean; #IMPLIED
          destdir CDATA #IMPLIED
          old %boolean; #IMPLIED
          classpath CDATA #IMPLIED
          outputfile CDATA #IMPLIED
          class CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          bootclasspath CDATA #IMPLIED
          bootclasspathref IDREF #IMPLIED
          classpathref IDREF #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT class EMPTY>
<!ATTLIST class
          id ID #IMPLIED
          name CDATA #IMPLIED>

<!ELEMENT javac (include | classpath | patternset | exclude | extdirs | src | bootclasspath)*>
<!ATTLIST javac
          id ID #IMPLIED
          deprecation %boolean; #IMPLIED
          excludes CDATA #IMPLIED
          proceed %boolean; #IMPLIED
          extdirs CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          encoding CDATA #IMPLIED
          destdir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          bootclasspathref IDREF #IMPLIED
          depend %boolean; #IMPLIED
          optimize %boolean; #IMPLIED
          includejavaruntime %boolean; #IMPLIED
          includeantruntime %boolean; #IMPLIED
          classpath CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          debug %boolean; #IMPLIED
          bootclasspath CDATA #IMPLIED
          includes CDATA #IMPLIED
          description CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          srcdir CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          target CDATA #IMPLIED>

<!ELEMENT test (arg | jvmarg | classpath | sysproperty | testlet)*>
<!ATTLIST test
          id ID #IMPLIED
          showsuccess %boolean; #IMPLIED
          output CDATA #IMPLIED
          fork %boolean; #IMPLIED
          classpath CDATA #IMPLIED
          jvm CDATA #IMPLIED
          dir CDATA #IMPLIED
          classname CDATA #IMPLIED
          showtrace CDATA #IMPLIED
          forceshowtrace CDATA #IMPLIED
          maxmemory CDATA #IMPLIED
          showbanner CDATA #IMPLIED
          args CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          taskname CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          jvmargs CDATA #IMPLIED>

<!ELEMENT testlet (#PCDATA)>
<!ATTLIST testlet
          id ID #IMPLIED>

<!ELEMENT cab (include | fileset | patternset | exclude)*>
<!ATTLIST cab
          id ID #IMPLIED
          cabfile CDATA #IMPLIED
          compress %boolean; #IMPLIED
          verbose %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          basedir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          options CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT mparse (userclasspath)*>
<!ATTLIST mparse
          id ID #IMPLIED
          workingdir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          metamatahome CDATA #IMPLIED
          description CDATA #IMPLIED
          target CDATA #IMPLIED
          cleanuphack %boolean; #IMPLIED>

<!ELEMENT userclasspath (fileset | pathelement | path)*>
<!ATTLIST userclasspath
          id ID #IMPLIED
          location CDATA #IMPLIED
          refid IDREF #IMPLIED
          description CDATA #IMPLIED
          path CDATA #IMPLIED>

<!ELEMENT ccuncheckout EMPTY>
<!ATTLIST ccuncheckout
          id ID #IMPLIED
          keepcopy %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          cleartooldir CDATA #IMPLIED
          viewpath CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT ejbjar (include | classpath | patternset | exclude | weblogic | weblogictoplink)*>
<!ATTLIST ejbjar
          id ID #IMPLIED
          destdir CDATA #IMPLIED
          classpath CDATA #IMPLIED
          basejarname CDATA #IMPLIED
          basenameterminator CDATA #IMPLIED
          genericjarsuffix CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          srcdir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          flatdestdir %boolean; #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          descriptordir CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT available (classpath)*>
<!ATTLIST available
          id ID #IMPLIED
          classpath CDATA #IMPLIED
          file CDATA #IMPLIED
          resource CDATA #IMPLIED
          classname CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          taskname CDATA #IMPLIED
          value CDATA #IMPLIED
          property CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT p4have EMPTY>
<!ATTLIST p4have
          id ID #IMPLIED
          view CDATA #IMPLIED
          client CDATA #IMPLIED
          user CDATA #IMPLIED
          port CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          cmdopts CDATA #IMPLIED>

<!ELEMENT wljspc (include | classpath | patternset | exclude)*>
<!ATTLIST wljspc
          id ID #IMPLIED
          src CDATA #IMPLIED
          classpath CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          package CDATA #IMPLIED
          dest CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT move (fileset | mapper)*>
<!ATTLIST move
          id ID #IMPLIED
          flatten %boolean; #IMPLIED
          tofile CDATA #IMPLIED
          todir CDATA #IMPLIED
          file CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          includeemptydirs %boolean; #IMPLIED
          overwrite %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          preservelastmodified CDATA #IMPLIED
          filtering %boolean; #IMPLIED>

<!ELEMENT csc (include | patternset | exclude)*>
<!ATTLIST csc
          id ID #IMPLIED
          references CDATA #IMPLIED
          mainclass CDATA #IMPLIED
          excludes CDATA #IMPLIED
          extraoptions CDATA #IMPLIED
          additionalmodules CDATA #IMPLIED
          win32icon CDATA #IMPLIED
          destdir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          includedefaultreferences %boolean; #IMPLIED
          optimize %boolean; #IMPLIED
          targettype CDATA #IMPLIED
          debug %boolean; #IMPLIED
          unsafe %boolean; #IMPLIED
          docfile CDATA #IMPLIED
          incremental %boolean; #IMPLIED
          includes CDATA #IMPLIED
          outputfile CDATA #IMPLIED
          description CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          warnlevel CDATA #IMPLIED
          taskname CDATA #IMPLIED
          srcdir CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          definitions CDATA #IMPLIED
          referencefiles CDATA #IMPLIED>

<!ELEMENT p4change EMPTY>
<!ATTLIST p4change
          id ID #IMPLIED
          view CDATA #IMPLIED
          client CDATA #IMPLIED
          user CDATA #IMPLIED
          port CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          cmdopts CDATA #IMPLIED>

<!ELEMENT signjar EMPTY>
<!ATTLIST signjar
          id ID #IMPLIED
          storepass CDATA #IMPLIED
          jar CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          keypass CDATA #IMPLIED
          alias CDATA #IMPLIED
          sectionsonly %boolean; #IMPLIED
          keystore CDATA #IMPLIED
          sigfile CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          internalsf %boolean; #IMPLIED
          storetype CDATA #IMPLIED
          signedjar CDATA #IMPLIED>

<!ELEMENT javacc EMPTY>
<!ATTLIST javacc
          id ID #IMPLIED
          debugparser %boolean; #IMPLIED
          javacchome CDATA #IMPLIED
          forcelacheck %boolean; #IMPLIED
          commontokenaction %boolean; #IMPLIED
          optimizetokenmanager %boolean; #IMPLIED
          buildtokenmanager %boolean; #IMPLIED
          sanitycheck %boolean; #IMPLIED
          buildparser %boolean; #IMPLIED
          otherambiguitycheck CDATA #IMPLIED
          lookahead CDATA #IMPLIED
          debuglookahead %boolean; #IMPLIED
          choiceambiguitycheck CDATA #IMPLIED
          unicodeinput %boolean; #IMPLIED
          usercharstream %boolean; #IMPLIED
          debugtokenmanager %boolean; #IMPLIED
          description CDATA #IMPLIED
          taskname CDATA #IMPLIED
          outputdirectory CDATA #IMPLIED
          cachetokens %boolean; #IMPLIED
          javaunicodeescape %boolean; #IMPLIED
          static %boolean; #IMPLIED
          usertokenmanager %boolean; #IMPLIED
          target CDATA #IMPLIED
          ignorecase %boolean; #IMPLIED
          errorreporting %boolean; #IMPLIED>

<!ELEMENT cccheckin EMPTY>
<!ATTLIST cccheckin
          id ID #IMPLIED
          preservetime %boolean; #IMPLIED
          viewpath CDATA #IMPLIED
          comment CDATA #IMPLIED
          nowarn %boolean; #IMPLIED
          identical %boolean; #IMPLIED
          cleartooldir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          keepcopy %boolean; #IMPLIED
          description CDATA #IMPLIED
          commentfile CDATA #IMPLIED>

<!ELEMENT unwar (include | patternset | exclude)*>
<!ATTLIST unwar
          id ID #IMPLIED
          src CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT touch EMPTY>
<!ATTLIST touch
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          millis CDATA #IMPLIED
          file CDATA #IMPLIED
          description CDATA #IMPLIED
          datetime CDATA #IMPLIED>

<!ELEMENT ilasm (include | patternset | exclude)*>
<!ATTLIST ilasm
          id ID #IMPLIED
          debug %boolean; #IMPLIED
          owner CDATA #IMPLIED
          outputfile CDATA #IMPLIED
          resourcefile CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          extraoptions CDATA #IMPLIED
          targettype CDATA #IMPLIED
          listing %boolean; #IMPLIED
          srcdir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT resolveproperties EMPTY>
<!ATTLIST resolveproperties
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT get EMPTY>
<!ATTLIST get
          id ID #IMPLIED
          verbose %boolean; #IMPLIED
          dest CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          usetimestamp %boolean; #IMPLIED
          ignoreerrors %boolean; #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT propertyfilter EMPTY>
<!ATTLIST propertyfilter
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          all CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT javadoc (doclet | classpath | link | group | sourcepath | bootclasspath)*>
<!ATTLIST javadoc
          id ID #IMPLIED
          bottom CDATA #IMPLIED
          verbose %boolean; #IMPLIED
          bootclasspathref IDREF #IMPLIED
          header CDATA #IMPLIED
          link CDATA #IMPLIED
          noindex %boolean; #IMPLIED
          doclet CDATA #IMPLIED
          public %boolean; #IMPLIED
          author %boolean; #IMPLIED
          footer CDATA #IMPLIED
          docletpath CDATA #IMPLIED
          package %boolean; #IMPLIED
          sourcepathref IDREF #IMPLIED
          description CDATA #IMPLIED
          protected %boolean; #IMPLIED
          nonavbar %boolean; #IMPLIED
          maxmemory CDATA #IMPLIED
          group CDATA #IMPLIED
          linkoffline CDATA #IMPLIED
          additionalparam CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          locale CDATA #IMPLIED
          destdir CDATA #IMPLIED
          classpath CDATA #IMPLIED
          bootclasspath CDATA #IMPLIED
          private %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          charset CDATA #IMPLIED
          nodeprecatedlist %boolean; #IMPLIED
          classpathref IDREF #IMPLIED
          stylesheetfile CDATA #IMPLIED
          docencoding CDATA #IMPLIED
          docletpathref IDREF #IMPLIED
          packagenames CDATA #IMPLIED
          windowtitle CDATA #IMPLIED
          notree %boolean; #IMPLIED
          splitindex %boolean; #IMPLIED
          packagelist CDATA #IMPLIED
          encoding CDATA #IMPLIED
          doctitle CDATA #IMPLIED
          serialwarn %boolean; #IMPLIED
          old %boolean; #IMPLIED
          use %boolean; #IMPLIED
          sourcepath CDATA #IMPLIED
          helpfile CDATA #IMPLIED
          version %boolean; #IMPLIED
          sourcefiles CDATA #IMPLIED
          extdirs CDATA #IMPLIED
          nohelp %boolean; #IMPLIED
          nodeprecated %boolean; #IMPLIED
          overview CDATA #IMPLIED>

<!ELEMENT antlr EMPTY>
<!ATTLIST antlr
          id ID #IMPLIED
          dir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          target CDATA #IMPLIED
          outputdirectory CDATA #IMPLIED
          fork %boolean; #IMPLIED>

<!ELEMENT untar EMPTY>
<!ATTLIST untar
          id ID #IMPLIED
          dest CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          src CDATA #IMPLIED>

<!ELEMENT require EMPTY>
<!ATTLIST require
          id ID #IMPLIED
          taskname CDATA #IMPLIED
          file CDATA #IMPLIED
          description CDATA #IMPLIED
          resource CDATA #IMPLIED
          class CDATA #IMPLIED
          property CDATA #IMPLIED>

<!ELEMENT delete (include | fileset | patternset | exclude)*>
<!ATTLIST delete
          id ID #IMPLIED
          file CDATA #IMPLIED
          dir CDATA #IMPLIED
          quiet %boolean; #IMPLIED
          verbose %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT transform (arg | fileset | env | targetfile | mapper | srcfile)*>
<!ATTLIST transform
          id ID #IMPLIED
          output CDATA #IMPLIED
          dir CDATA #IMPLIED
          command CDATA #IMPLIED
          os CDATA #IMPLIED
          parallel %boolean; #IMPLIED
          type (file | dir | both) #IMPLIED
          timeout CDATA #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          newenvironment %boolean; #IMPLIED
          executable CDATA #IMPLIED>

<!ELEMENT targetfile EMPTY>
<!ATTLIST targetfile
          id ID #IMPLIED>

<!ELEMENT ejbc (include | patternset | exclude)*>
<!ATTLIST ejbc
          id ID #IMPLIED
          src CDATA #IMPLIED
          manifest CDATA #IMPLIED
          classpath CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          keepgenerated CDATA #IMPLIED
          description CDATA #IMPLIED
          descriptors CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT copydir (include | patternset | exclude)*>
<!ATTLIST copydir
          id ID #IMPLIED
          flatten %boolean; #IMPLIED
          src CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          dest CDATA #IMPLIED
          forceoverwrite %boolean; #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          filtering %boolean; #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT war (include | fileset | webinf | patternset | exclude | classes | prefixedfileset | lib)*>
<!ATTLIST war
          id ID #IMPLIED
          manifest CDATA #IMPLIED
          compress %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          webxml CDATA #IMPLIED
          warfile CDATA #IMPLIED
          jarfile CDATA #IMPLIED
          basedir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          zipfile CDATA #IMPLIED
          whenempty CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT webinf (include | patternset | exclude)*>
<!ATTLIST webinf
          id ID #IMPLIED
          src CDATA #IMPLIED
          refid IDREF #IMPLIED
          dir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          prefix CDATA #IMPLIED
          fullpath CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT classes (include | patternset | exclude)*>
<!ATTLIST classes
          id ID #IMPLIED
          src CDATA #IMPLIED
          refid IDREF #IMPLIED
          dir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          prefix CDATA #IMPLIED
          fullpath CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT lib (include | patternset | exclude)*>
<!ATTLIST lib
          id ID #IMPLIED
          src CDATA #IMPLIED
          refid IDREF #IMPLIED
          dir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          prefix CDATA #IMPLIED
          fullpath CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT ccupdate EMPTY>
<!ATTLIST ccupdate
          id ID #IMPLIED
          preservetime %boolean; #IMPLIED
          rename %boolean; #IMPLIED
          log CDATA #IMPLIED
          viewpath CDATA #IMPLIED
          overwrite %boolean; #IMPLIED
          cleartooldir CDATA #IMPLIED
          graphical %boolean; #IMPLIED
          currenttime %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT depend (include | patternset | exclude)*>
<!ATTLIST depend
          id ID #IMPLIED
          cache CDATA #IMPLIED
          destdir CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          closure %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          srcdir CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT renameext (include | patternset | exclude)*>
<!ATTLIST renameext
          id ID #IMPLIED
          toextension CDATA #IMPLIED
          replace %boolean; #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          fromextension CDATA #IMPLIED
          srcdir CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED
          excludes CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          excludesfile CDATA #IMPLIED
          includes CDATA #IMPLIED>

<!ELEMENT exec (arg | env)*>
<!ATTLIST exec
          id ID #IMPLIED
          output CDATA #IMPLIED
          dir CDATA #IMPLIED
          command CDATA #IMPLIED
          os CDATA #IMPLIED
          timeout CDATA #IMPLIED
          taskname CDATA #IMPLIED
          failonerror %boolean; #IMPLIED
          description CDATA #IMPLIED
          newenvironment %boolean; #IMPLIED
          executable CDATA #IMPLIED>

<!ELEMENT junit (batchtest | jvmarg | classpath | formatter | test)*>
<!ATTLIST junit
          id ID #IMPLIED
          haltonerror %boolean; #IMPLIED
          fork %boolean; #IMPLIED
          jvm CDATA #IMPLIED
          dir CDATA #IMPLIED
          maxmemory CDATA #IMPLIED
          haltonfailure %boolean; #IMPLIED
          timeout CDATA #IMPLIED
          printsummary %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT batchtest (fileset | formatter)*>
<!ATTLIST batchtest
          id ID #IMPLIED
          todir CDATA #IMPLIED
          unless CDATA #IMPLIED
          if CDATA #IMPLIED
          haltonfailure %boolean; #IMPLIED
          fork %boolean; #IMPLIED
          haltonerror %boolean; #IMPLIED>

<!ELEMENT formatter EMPTY>
<!ATTLIST formatter
          id ID #IMPLIED
          usefile %boolean; #IMPLIED
          type (plain | xml) #IMPLIED
          classname CDATA #IMPLIED
          extension CDATA #IMPLIED>

<!ELEMENT wlstop EMPTY>
<!ATTLIST wlstop
          id ID #IMPLIED
          user CDATA #IMPLIED
          classpath CDATA #IMPLIED
          delay CDATA #IMPLIED
          password CDATA #IMPLIED
          url CDATA #IMPLIED
          taskname CDATA #IMPLIED
          description CDATA #IMPLIED>

<!ELEMENT rmic (include | classpath | patternset | exclude)*>
<!ATTLIST rmic
          id ID #IMPLIED
          verify %boolean; #IMPLIED
          idlopts CDATA #IMPLIED
          iiop %boolean; #IMPLIED
          excludes CDATA #IMPLIED
          sourcebase CDATA #IMPLIED
          classpathref IDREF #IMPLIED
          base CDATA #IMPLIED
          defaultexcludes %boolean; #IMPLIED
          classpath CDATA #IMPLIED
          includes CDATA #IMPLIED
          description CDATA #IMPLIED
          includesfile CDATA #IMPLIED
          idl %boolean; #IMPLIED
          taskname CDATA #IMPLIED
          iiopopts CDATA #IMPLIED
          classname CDATA #IMPLIED
          filtering %boolean; #IMPLIED
          excludesfile CDATA #IMPLIED
          stubversion CDATA #IMPLIED>

